<!DOCTYPE html>
<html lang="" ng-app="Grid">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
    <div class="" ng-controller="masterTable">
        <button name="Add Column" ng-click="toggleModal()">Add Column</button>
        <button name="Remove Column" ng-click="removeColumn()">Remove Column</button>
        <br/><br/>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Column Name</th>
                    <th>Column Type</th>
                    <th>Editable</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in masterObj">
                    <td><input type="checkbox" ng-model="item.checkbox"/></td>
                    <td>{{item.name}}</td>
                    <td ng-switch="item.type">
                        <span ng-switch-when="number">Number</span>
                        <span ng-switch-when="text">String</span>
                        <span ng-switch-when="date">Date</span>
                        <span ng-switch-when="select">Boolean</span>
                    </td>
                    <td ng-switch="item.editable">
                        <span ng-switch-when="true">Yes</span>
                        <span ng-switch-when="false">No</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <modal-dialog show='modalShown' width='400px' height='60%'>
            <form name="add">
                <h2>Adding Column:</h2>
                <br/>
                <label for="colName">Column Name:</label>
                <input type="text" name="colName" ng-model="colName" value="" required /><br/>
                <span class="error" ng-show="add.colName.$error.required">Required!</span>
                <br/>
                <label>Column Type:</label>
                <select ng-model="colType" name='colType' required >
                    <option value="">Select Column Type</option>
                    <option value="number">Number</option>
                    <option value="text">String</option>
                    <option value="date">Date</option>
                    <option value="select">Boolean</option>
                </select><br/>
                <span class="error" ng-show="add.colType.$error.required">Required!</span>
                <br/>
                <label>Editable:</label>
                <select ng-model="colEditable" name="colEditable" required >
                    <option value="">Select Editable</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select><br/>
                <span class="error" ng-show="add.colEditable.$error.required">Required!</span>
                <br/><br/>
                <button name="Add Column" ng-disabled="add.$invalid"
                        ng-click="addColumn(colName, colType, colEditable);colName='';colType='';colEditable=''">Add Column</button>
                <button name="Remove Column" ng-click="hideModal();colName='';colType='';colEditable=''">Close Without Adding</button>
            </form>
        </modal-dialog><br/><br/>
    
        <div>
            <button name="Add Column" ng-click="addRow()">Add Row</button>
            <button name="Remove Column" ng-click="deleteRow()">Delete Row</button>
            <button name="Export to JSON" ng-click="export()">Export to Json</button>
            <br/><br/>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="obj in masterObj">{{obj.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="jsonObj.length > 0" ng-repeat="d in jsonObj">
                        <td ng-repeat="v in d track by v.index" class="{{$index}}" element="{{v.element}}">
                            <input ng-if="v.element == 'checkbox'" type="checkbox" ng-checked="{{v.value}}" ng-model="v.value"/>
                            <span ng-if="v.element != 'checkbox'">{{v.value}}</span>
                        </td>
                        <td><button name="Edit" ng-click="editRecord(d, $index)">Edit</button></td>
                        <td><button name="Update" ng-click="updateRecord(d, $index)">Update</button></td>
                    </tr>
                    <tr ng-show='addShown' ng-repeat="data in dataObj track by $index" id="parentEle">
                        <form name="row">
                            <td ng-repeat="row in data track by $index" ng-switch="row.type">
                                <input ng-switch-when="number" type="{{row.type}}" data-colname="{{row.model}}" value="" id="{{$index}}" required/>
                                <input ng-switch-when="text" type="{{row.type}}" value="" data-colname="{{row.model}}" id="{{$index}}" required/>
                                <input ng-switch-when="date" type="{{row.type}}" ng-model="date" data-colname="{{row.model}}" id="{{$index}}" required/>
                                <select ng-switch-when="select" data-colname="{{row.model}}" id="{{$index}}" required>
                                    <option value="">Dropdown</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <input ng-switch-default type="checkbox" data-colname="{{row.model}}" id="{{$index}}"/>
                            </td>
                            <td><button ng-disabled="row.$invalid" name="Export to JSON" ng-click="addRecord()">Add</button></td>
                        </form>
                    </tr>
                    <!--<tr ng-if="dataObj.length > 0">
                        <td ng-repeat="data in dataObj track by $index" ng-switch="data">
                            <input ng-switch-when="number" text="{{data}}"/>
                            <input ng-switch-when="text" text="{{data}}"/>
                            <input ng-switch-when="date" text="{{data}}"/>
                            <select ng-switch-when="select">
                                <option value="">Dropdown</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <input ng-switch-default type="checkbox"/>
                        </td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
</body>
</html>
